/* .row > div{
    background-color:rgb(11, 11, 184);
    border: 1px solid rgb(1, 1, 43);
    color: white;
    padding: 20px;

}

.row{
    margin-top: 10px;
    border: 1px solid red; 
} */

.navbar{
    border: 1px solid red;
}

